.chat {
    width: 100%;
    padding: 0;
    margin: 0;
}

.connect-panel {
    width: calc(100% - 20px * 2);
    margin: 0 auto;
    text-align: center;
}

.conteiner-index {
    display: grid;
    grid-template-columns: 1fr 2.65fr;
    margin-bottom: .5rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.user-name {
    display: block;
    font-size: small;
    padding:  0 15px 0 15px;
}

#message {
    display: inline-block;
    text-align: justify;
    padding: 10px 15px;
    margin: 0 0 4.5px 0;
    border: 1px solid;
    border-radius: 18px;
    max-width: 75vw;
    overflow-wrap: break-word;
}

#new-message-panel {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 100%;
    height: min-content;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

#new-message-panel input {
    height: 33px;
}

#new-message-panel button {
    height: 39px;
}

body{
    width: 100%;
}

form {
    text-align: center;
}

form button {
    width: 100%;
}

label {
    text-align: right;
}

th {
    border: 2px solid;
    background: grey;
}

td {
    border: 2px solid;
    background: lightgrey;
}